body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar-links {
    list-style: none;
    display: flex;
    align-items: center; 
    padding: 0;
    margin: 0;
    gap: 40px;
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    display: block; 
    height: 100%; 
    padding: 20px 20px; 
    font-weight: bold;
    font-family: "Comic Neue", cursive;
}

.navbar-links a:hover {
    color: rgba(253, 165, 0, 0.959);
}

.navbar-links img {
    height: 50px; 
    width: auto; 
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #1f1f1f;
}

body.dark-mode .navbar-links a {
    color: #ffffff;
}

body.dark-mode .navbar-links a:hover {
    color: rgba(253, 165, 0, 0.959);
}

.spacer {
    flex-grow: 1;
}

.dark-mode-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    margin-right: 20px;
}

body.dark-mode .dark-mode-toggle {
    color: #ffcc00;
}


.container {
    width: 100%;
    margin: 80px auto 0 auto;
    margin-top: 120px;
    align-items: center; 
}

header {
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

p {
    font-size: 1.4rem;
    margin-left: 350px;
    margin-right: 350px;
    font-family: "Open Sans", sans-serif;
}

.picture {
    max-width: 900px; 
    max-height: 900px;
    margin: 20px 0;
}

h2 {
    margin-top: 150px;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 300px;
    position: relative;
    display: inline-block;
    margin-bottom: 100px;
    font-family: "Poppins", sans-serif;
}

h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    margin-top: 10px; /* Adjust this value to control the space between the text and the underline */
}

.features {
    display: flex;
    flex-direction: column;
    gap: 300px;
    margin-top: 50px;
    align-items: center;
}

.feature {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 80%;
    margin-left: 300px;
    margin-right: 300px;
}

.feature-reverse {
    flex-direction: row-reverse;
}

.feature-text h3 {
    font-family: "Poppins", sans-serif;
}

.feature-text {
    flex: 1;
    text-align: left;
}

.feature-image {
    margin-top: 100px;
    flex: 1;
    text-align: center;
}

.feature-image img {
    max-width: 100%;
    height: auto;
}

h3 {
    font-size: 3rem;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 220px;
}

.feature p {
    font-size: 1.3rem;
    margin-top: 0;
}
