body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../images/gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
}

.logo {
    max-width: 600px; 
    margin: 20px 0;
    animation: glow 1.5s infinite alternate; /* Applies glowing animation */
    cursor: grab; 
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px blue;
    }
    to {
        filter: drop-shadow(0 0 20px blue) drop-shadow(0 0 30px blue); 
    }
}

h1 {
    font-size: 3rem;
    color: black;
    margin-top: 10px;
}

h2 {
    margin-top: 50px;
    font-size: 2rem;
}

h3 {
    margin-top: 70px;
    font-size: 2rem;
}

.supported-stores {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 10px;
}

.store-logo {
    width: 200px;
    height: auto;
}

p {
    font-size: 1.4rem;
    color: rgb(27, 27, 27);
}

.search-section p {
    text-align: left;
    margin-top: 50px;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.search-section form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #003d80;
}

ul#urlList {
    list-style: none;
    padding: 0;
}

ul#urlList li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

ul#urlList li a {
    text-decoration: none;
    color: #0056b3;
}

ul#urlList li a:hover {
    text-decoration: underline;
}

.delete-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
}

.delete-button:hover {
    background: none; /* Ensures no background color on hover */
}
.delete-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px; /* Adjust height as needed */
    margin: 120px auto 20px auto; /* Add top margin to move the carousel down */
    overflow: hidden;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image is not cut off */
}

.carousel-item.active {
    opacity: 1;
    transform: translateX(0);
}

.carousel-item.previous {
    transform: translateX(-100%);
}

.carousel-item.next {
    transform: translateX(100%);
}

.loading-overlay,
.loading-popup {
    display: none; /* Hidden by default */
}

body.dimmed {
    overflow: hidden; /* Prevent scrolling when dimmed */
}

.loading-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dim background */
    z-index: 999; /* Ensure it covers everything */
}

.loading-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it appears above the overlay */
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
