body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../images/gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header .logo img {
    max-width: 400px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product-image {
    flex: 1;
    max-width: 40%;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.product-details {
    flex: 2;
    margin-left: 20px;
    text-align: left;
}

.product-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 70px;
}

.price-box {
    border: 2px solid #333;
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-left: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buy-now-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px; /* Add some spacing between buttons */
}
.buy-now-button {
    padding: 15px 30px;
    background-color: red;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 30px;
}

.buy-now-button:hover {
    background-color: darkred;
}

.price-history {
    margin-top: 20px;
    text-align: left;
}

.price-history h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#addStoreButton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addStoreButton:hover {
    background-color: #003d80;
}

#storeUrlForm {
    margin-top: 20px;
}

#storeUrlForm input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 130px);
    margin-right: 10px;
}

#storeUrlForm button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#storeUrlForm button:hover {
    background-color: #003d80;
}

.tracked-products {
    margin-top: 40px;
    text-align: center;
}

ul#urlList {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul#urlList li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: inline-block;
}

ul#urlList li a {
    text-decoration: none;
    color: #0056b3;
}

ul#urlList li a:hover {
    text-decoration: underline;
}

.delete-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
}

.delete-button:hover {
    background: none;
}

.delete-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}

.loading-overlay,
.loading-popup {
    display: none; /* Hidden by default */
}

body.dimmed {
    overflow: hidden; /* Prevent scrolling when dimmed */
}

.loading-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dim background */
    z-index: 999; /* Ensure it covers everything */
}

.loading-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it appears above the overlay */
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
